pyrogram
instaloader
schedule
requests
Pillow
moviepy
python-telegram-bot
moviepy
imageio==2.10.4  # or a compatible version
Pillow
 numpy
    tqdm
    decorator
    proglog
    opencv-python
pyrogram[tgcrypto]
